extends layout

block content
    h1 #{title}
    // to create a form to take user input, action will be caught in app.js
    form(method='POST', action='/articles/add')
        #form-group
            label Title:
            input.form-control(name='title', type='text')
        //- Getting rid of this as we want to implement access control now
        //- #form-group
        //-     label Author:
        //-     input.form-control(name='author', type='text')
        #form-group
            label Body:
            textarea.form-control(name='body')
        br
        input.btn.btn-primary(type='submit', value='Submit')









